{% extends "base.html" %}

{% block titulo %}
<title>Motorboat - auto</title>
{% endblock titulo %}

{% block contenido %}
<h1 style="color:black;">
  Autos
</h1>
<a href="{% url 'listar_automoviles' %}">Ver todos</a>
<a href="{% url 'crear_automovil' %}">Crear auto</a>
<br><br>
<form action="{% url 'buscar_automoviles' %}" method="post">
  {% csrf_token %}
  <input type="text" name="busqueda">
  <input type="submit" value="Buscar">
</form>
<br>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Fabricación (año)</th>
      <th>CV</th>
      <th>Peso (Kg)</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for vehiculo in vehiculos %}
    <tr>
      <td>{{ vehiculo.id }}</td>
      <td>{{ vehiculo.marca }}</td>
      <td>{{ vehiculo.modelo }}</td>
      <td>{{ vehiculo.fabricacion }}</td>
      <td>{{ vehiculo.cv }}</td>
      <td>{{ vehiculo.peso }}</td>
      <td>
        <a href="{% url 'ver_automovil' vehiculo.id %}">Ver</a>
      </td> 
      <td>
        <a href="{% url 'editar_automovil' vehiculo.id %}">Editar</a>
      </td> 
      <td>
        <form action="{% url 'eliminar_automovil' vehiculo.id %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Eliminar"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock contenido %}
